---
import Layout from '#/Layout.astro';
import Carousel from '@/carousel.astro'; // Import the carousel component
import { Image } from 'astro:assets';
import logo from '@/logo.svg'
---

<Layout title="News">
	<main class="flex flex-col w-full h-full">
	<section class="sm:grid h-full sm:grid-cols-2">
		<div class="w-full flex gap-2 flex-col items-start justify-center h-full">
			<h1 class='text-3xl font-semibold'>Welcome to News Box </h1>
			<h1 class='text-lg font-normal'>Stay updated with the latest news from around the world.</h1>
			<a class='bg-black p-2 rounded-md text-white' href="/news">Explore News</a>
		</div>
		<div class="w-full flex gap-2 flex-col items-center justify-center h-full">
			<Image src={logo} alt="Logo" width="300" height="300" quality='max'/>
		</div>
	</section>

	</main>
</Layout>

<style>
	
</style>
