---
import Layout from '#/Layout.astro';
import { Image } from 'astro:assets';
import logo from '@/logo.svg'
import Input from '@/Input';
---

<Layout title="IN News">
	<main class="flex flex-col  text-gray-800 justify-center pt-28 pb-4 sm:self-start w-full h-fit">
	<section class="sm:grid flex sm:gap-0 gap-4 flex-col-reverse sm:h-full h-fit sm:grid-cols-2">
		<div class="w-full flex gap-2 flex-col items-start justify-center h-full">
			<Input data={''} client:load/>
			<h1 class='text-3xl font-semibold'>Welcome to News </h1>
			<h1 class='text-lg font-normal'>Stay updated with the latest news from around the Indian Continent.</h1>
			<a class='bg-base p-2 rounded-md text-white' href="/headlines">Explore Headlines</a>
		</div>
		<div class="sm:w-full w-1/4 flex gap-2 flex-col items-center justify-center h-fit sm:h-full">
			<Image src={logo} alt="Logo" width="300" height="300" quality='max'/>
		</div>
	</section>

	</main>
</Layout>

<style>
	
</style>
