---
interface Props {
  article: NewsArticle;
}

const { article } = Astro.props;
---

<a
  href={article.url}
  class="w-full relative h-fit first:col-span-2 [&:nth-child(5n+6)]:col-span-2 gap-3  duration-300 transition-all flex flex-col shadow-sm bg-gray-50 border border-gray-200 rounded-2xl overflow-clip shadow-black/30"
>
  <img
    class="rounded-2xl h-80 object-cover"
    src={article.urlToImage
      ? article.urlToImage
      : "https://th.bing.com/th/id/OIP.Gdvlusp63LdHQbO97TNk5AHaEK?pid=ImgDet&rs=1"}
    alt=""
  />
  <div class="px-4 absolute text-white bottom-0 h-full flex justify-end bg-gradient-to-t from-black via-black/60 to-transparent flex-col w-full gap-2 pb-5">
    <h5
      class="text-xl h-fit font-normal line-clamp-2 tracking-tight"
    >
      {article.title}
    </h5>
    <p class="font-extralight text-sm h-fit text-gray-300">
      {article.publishedAt.slice(0, 10)}
    </p>
  </div>
</a>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
  div {
    font-family: "Noto Sans", sans-serif;
  }
</style>
