---
interface Props {
  article:NewsArticle
}

const { article } = Astro.props;
---

<div class="w-full flex flex-col  bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    
        <img class="rounded-t-lg h-56 object-cover" src={article.urlToImage?article.urlToImage:'https://th.bing.com/th/id/OIP.Gdvlusp63LdHQbO97TNk5AHaEK?pid=ImgDet&rs=1'} alt="" />
    
    <div class="p-5">
            <h5 class="mb-2 text-2xl h-16 font-bold line-clamp-2 tracking-tight text-gray-900 dark:text-white">{article.title}</h5>
        <p class="mb-3 font-normal h-24 line-clamp-3 text-gray-700 dark:text-gray-400">{article.description}</p>
        <a href={article.url} class="inline-flex self-end items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
             <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>

