---
import { Image } from 'astro:assets';
import logo from '@/logo.png'
---
<nav class="w-full fixed top-0 z-[1000] flex bg-black text-white items-center p-2 justify-center">
<div class="w-full inline-flex items-center justify-between h-10 max-w-[900px]">
<a href='/' class='flex flex-row gap-2 items-center justify-center'>
    <Image src={logo} alt="Logo" width="40" height="40" quality='max'/>
    <h1 class='text-xl font-semibold'> IN News</h1>
</a> 
</div>
</nav>